<!doctype html>
<html ng-app="patternfly.app">
<head>
    <title>JBoss Client</title>

    <!-- build:css assets/css/vendor.css -->
    <link rel="stylesheet" href="bower_components/patternfly/dist/css/patternfly.min.css">
    <link rel="stylesheet" href="bower_components/patternfly/dist/css/patternfly-additions.min.css">
    <link rel="stylesheet" href="bower_components/angular-patternfly/dist/styles/angular-patternfly.min.css">
    <!-- endbuild -->

    <!-- build:css assets/css/app.css -->
    <link href="assets/css/app.css" rel="stylesheet">
    <!-- endbuild -->
</head>
<body>

<div class="layout-pf layout-pf-fixed" ng-controller="NavCtrl">

    <!-- container for toast notifications -->
    <pf-toast-notification-list notifications="notifications">
    </pf-toast-notification-list>

    <pf-vertical-navigation items="navItems"
                            brand-src="assets/img/logo.png"
                            update-active-items-on-click="true"
                            show-badges="true">
        <div>
            <ul class="nav navbar-nav navbar-right navbar-iconic">
                <li class="dropdown">
                </li>

                <!-- notifications menu -->
                <li class="dropdown">
                    <a class="dropdown-toggle nav-item-iconic" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <span title="Notifications" class="fa pficon-flag"></span>
                        <span class="badge" ng-if="notifyCount > 0" ng-bind="notifyCount"></span>
                    </a>
                    <div class="dropdown-menu infotip bottom-right" ng-if="notifyCount > 0">
                        <div class="arrow"></div>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in menuItems">
                                <span class="i pficon" ng-class="getClass(item.type)"></span> {{item.msg}}
                            </li>
                        </ul>
                        <div class="footer">
                            <a href ng-click="clear()">Clear Messages</a>
                        </div>
                    </div>
                </li>

                <!-- user menu -->
                <li class="dropdown">
                    <a class="dropdown-toggle nav-item-iconic" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="true">
                        <span title="Username" class="fa pficon-user"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </pf-vertical-navigation>

    <div id="contentContainer" class="container-fluid container-cards-pf container-pf-nav-pf-vertical">
        <ui-view>
            <!-- Content will be added here -->
        </ui-view>
    </div>
</div>

<!-- build:js assets/js/vendor.js -->
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/jquery.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap-combobox.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap-datepicker.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/moment.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap-datepicker.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap-select.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/bootstrap-treeview.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/c3.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/d3.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/patternfly.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-sanitize.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-animate.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-bootstrap-prettify.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/lodash.min.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-patternfly.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-ui-router.min.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-drag-and-drop-lists.js"></script>
<script src="bower_components/angular-patternfly/dist/docs/grunt-scripts/angular-drag-and-drop-lists.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
<!-- endbuild -->

<!-- build:js assets/js/app.js -->
<script src="app/app.js"></script>
<script src="app/components/nav/nav-controller.js"></script>
<script src="app/components/status/status-router.js"></script>
<script src="app/components/status/status-service.js"></script>
<script src="app/components/status/status-controller.js"></script>
<script src="app/components/item/item-router.js"></script>
<script src="app/components/item/item-controller.js"></script>
<script src="app/components/item/item-service.js"></script>
<script src="app/components/item/item-save-controller.js"></script>
<script src="app/components/item/item-delete-controller.js"></script>
<!-- endbuild -->

</body>
</html>
