body {
    background-color: #f5f5f5;
    padding-top: 60px;
}
/*fix for smart-table*/
.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}
.app-toolbar {
    padding-top:10px !important;
    padding-bottom:10px !important;
}