body {
    margin-top: 50px;
    padding: 10px;
    background-color: #ECF0F1;
}

.jboss-client-table-dropdown {
    overflow: visible !important;
}

.jboss-client-container {
    background-color: #FFFFFF;
}

/*fix for smart-table*/
.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}