<div class="card-pf card-pf-accented">
    <div class="card-pf-heading">
        <h4 class="card-pf-title">Cars</h4>
    </div>
    <div class="card-pf-body">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row toolbar-pf table-view-pf-toolbar">
                        <div class="col-sm-12">
                            <form class="toolbar-pf-actions">
                                <div class="form-group toolbar-actions">
                                    <button type="button" class="btn btn-primary primary-action" ng-click="$ctrl.open()">
                                        <span class="fa fa-plus" aria-hidden="true"></span>&nbsp;Add
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <pf-table-view items="$ctrl.items"
                               columns="$ctrl.columns"
                               config="$ctrl.config"
                               page-config="$ctrl.pageConfig"
                               menu-actions="$ctrl.menuActions">
                </pf-table-view>
            </div>
        </div>

    </div>
</div>