<div class="row row-cards-pf">
    <div class="col-md-12">
        <div class="card-pf card-pf-accented">
            <div class="card-pf-heading">
                <h4 class="card-pf-title">Cars</h4>
            </div>
            <div class="card-pf-body">
                <table st-table="$ctrl.displayedItems"
                       st-safe-src="$ctrl.items"
                       class="table-view-container table table-striped table-bordered table-hover dataTable">
                    <thead>
                    <tr>
                        <th colspan="3" class="app-toolbar">
                            <input st-search="" class="form-control" placeholder="global search..." type="text"/>
                        </th>
                        <th colspan="4" class="app-toolbar">
                            <button type="button" class="btn btn-primary" ng-click="$ctrl.create()">New Item</button>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="7" class="app-toolbar">
                            <strong>{{ $ctrl.displayedItems.length}} results</strong>
                        </th>
                    </tr>
                    <tr>
                        <th st-sort="id" st-sort-default="true">ID</th>
                        <th st-sort="year">Year</th>
                        <th st-sort="make">Make</th>
                        <th st-sort="model">Model</th>
                        <th st-sort="createDate">Created</th>
                        <th st-sort="lastUpdateDate">Last Update</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in $ctrl.displayedItems">
                        <td>{{ item.id}}</td>

                        <td>{{ item.year }}</td>

                        <td>{{ item.make }}</td>

                        <td>{{ item.model }}</td>

                        <td>{{ item.createDate }}</td>

                        <td>{{ item.lastUpdateDate }}</td>

                        <td class="table-view-pf-actions list-group-item-header">
                            <div class="dropdown-kebab-pf" uib-dropdown>
                                <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                                    <span class="fa fa-ellipsis-v"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu
                                    aria-labelledby="simple-dropdown">
                                    <li>
                                        <a href ng-click="$ctrl.update(item)"> Edit</a>
                                    </li>
                                    <li>
                                        <a href ng-click="$ctrl.confirm(item)">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-pagination="" st-items-by-page="10"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>