<h2>Items</h2>

<button type="button" class="btn btn-primary" ng-click="create()">
    <span class="fa fa-plus"></span>&nbsp;&nbsp;New Item
</button>
<br>
<br>
<div class="table-responsive">
    <table st-table="displayedItems" st-safe-src="items"
           class="table table-striped ev-vcenter">
        <thead>
        <tr>
            <th st-sort="id" st-sort-default="true">ID</th>
            <th st-sort="year">Year</th>
            <th st-sort="make">Make</th>
            <th st-sort="model">Model</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in displayedItems">
            <td>{{ item.id}}</td>

            <td>{{ item.year }}</td>

            <td>{{ item.make }}</td>

            <td>{{ item.model }}</td>

            <td>
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <span uib-dropdown on-toggle="toggled(open)">
                        <a href id="simple-dropdown" uib-dropdown-toggle>
                            <span class="fa fa-cog"></span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                            <li>
                                <a href ng-click="update(item)"> Edit</a>
                            </li>
                            <li>
                                <a href ng-click="confirm(item)">Delete</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" class="text-center">
                <div st-pagination="" st-items-by-page="10"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
