<!-- container for toast notifications -->
<pf-toast-notification-list notifications="$ctrl.notifications">
</pf-toast-notification-list>

<pf-vertical-navigation items="$ctrl.navItems"
                        brand-src="assets/img/logo.png"
                        update-active-items-on-click="true"
                        show-badges="true">
    <div>
        <ul class="nav navbar-nav navbar-right navbar-iconic">
            <li class="dropdown">
            </li>

            <!-- notifications menu -->
            <li class="dropdown" uib-dropdown>
                <a class="dropdown-toggle nav-item-iconic" uib-dropdown-toggle>
                    <span title="Notifications" class="fa pficon-flag"></span>
                    <span class="badge" ng-if="$ctrl.notifyCount > 0" ng-bind="$ctrl.notifyCount"></span>
                </a>
                <div class="dropdown-menu infotip bottom-right" uib-dropdown-menu ng-if="$ctrl.notifyCount > 0">
                    <div class="arrow"></div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in $ctrl.menuItems">
                            <span class="i pficon" ng-class="$ctrl.getClass(item.type)"></span> {{item.msg}}
                        </li>
                    </ul>
                    <div class="footer">
                        <a href ng-click="$ctrl.clear()">Clear Messages</a>
                    </div>
                </div>
            </li>

            <!-- user menu -->
            <li class="dropdown" uib-dropdown>
                <a class="dropdown-toggle nav-item-iconic" uib-dropdown-toggle>
                    <span title="Username" class="fa pficon-user"></span>
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu infotip bottom-right" uib-dropdown-menu>
                    <div class="arrow"></div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href>Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</pf-vertical-navigation>