/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f5f5f5;
  padding-top: 60px;
  margin-bottom: 60px;
}

.app-button {
  cursor: pointer;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: transparent;
}

.app-pficon-fix {
  float: none !important;
}

/* copied from patternfly.css to style ngx-breadcrumbs */
.breadcrumbs__container {
  padding: 15px 8px 15px 0;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 1px;
}
.breadcrumbs__container > li {
  display: inline-block;
}
.breadcrumbs__container > li + li:before {
  color: #9c9c9c;
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 11px;
  padding: 0 9px 0 7px;
}
.breadcrumbs__container > .active {
  color: #4d5258;
  font-weight: 600;
}
