<div class="row row-cards-pf">
  <div class="col-md-12">
    <pfng-card [config]="basicConfig">
      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="form-group row">
              <label class="col-md-2 control-label">User Name</label>
              <div class="col-md-10">
                <p class="form-control-static">{{profile.username}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 control-label">First Name</label>
              <div class="col-md-10">
                <p class="form-control-static">{{profile.firstName}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 control-label">Last Name</label>
              <div class="col-md-10">
                <p class="form-control-static">{{profile.lastName}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 control-label">Email</label>
              <div class="col-md-10">
                <p class="form-control-static">{{profile.email}}</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </pfng-card>
  </div>
</div>
