/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f5f5f5;
  padding-top: 60px;
}

.app-menu-right {
  left: auto !important;
}

.app-button {
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.footer p {
  margin-top: 8px;
}
